@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {
    background-color: var(--background-color);
    font-family: "Parkinsans", serif;
}

.jobsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: red; */
    height: 60vh;
    width: 75%;
    margin-left: 15%;
}
